extends ../layout

block content
  h1 Alterar Grupo/Menu
  hr
  br
  form(action="/grupomenu/edit/#{grupomenu_id}" method="POST" role="form")
    input(type="hidden" name="_method" value="put")
    div(class="form-group")
      label Grupo
      select(name="grupo_id" class="form-control")
        each grupo, i in grupos
          if(grupo._id == grupo_id)
            option(name="grupo_id" class="form-control" value="#{grupo._id}" selected="selected") #{grupo.s_nome}
          else
            option(name="grupo_id" class="form-control" value="#{grupo._id}" ) #{grupo.s_nome}
    div(class="form-group")
      label Menu
      select(name="menu_id" class="form-control")
        each menu, i in menus
          if (menu._id == menu_id)
            option(name="menu_id" class="form-control" selected="selected" value="#{menu._id}" ) #{menu.s_nome}
          else
            option(name="menu_id" class="form-control" value="#{menu._id}" ) #{menu.s_nome}
    input(type="submit" value="Editar" class="btn btn-success")
  br
  br
  a(href="/grupomenu" title="Voltar") Voltar

