extends ../layout

block content
  h1 Listagen de Grupo/Menu
  br
  br
  a(href="/grupomenu/create" title="Cadastrar" class="btn btn-success") Cadastrar
  br
  br
  table(class="table")
    thead
      tr
        th Grupo
        th Menu
        th Ações
    tbody
      each valor, i in lista
        tr
          td #{valor.grupo_id.s_nome}
          td #{valor.menu_id.s_nome}
          td
            a(href="/grupomenu/edit/#{valor._id}&#{valor.grupo_id._id}&#{valor.menu_id._id}" title="Editar" class="btn btn-info") Editar
            &nbsp
            a(href="/grupomenu/show/#{valor._id}" title="Visualizar" class="btn btn-primary") Visualizar
